html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #696;
  color: #fff;
}

section {
  min-height: 100vh;
  display: flex;
  flex: 1;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.masthead {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.33);
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 6rem;
}
